@charset "utf-8";
/* CSS Document */

.behavior-group{
	float:left;
	width:160px;
	padding:5px;
	min-height:440px;
	border:1px solid;
	margin:5px;
}
.behavior{
	background:#dedede;
	margin:3px;
	padding:3px;
	border:1px solid;
}
.behavior-group input{
	margin-top:10px;
}	
